{% extends "layouts/base.html" %}

{% block content %}
<main class='container py-5'>
  <section class='card card-body'>
    <h1 class='display-1 text-center'>Django App</h1>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga consectetur ipsum minima tenetur totam expedita nemo architecto, quos illum natus cum voluptas sapiente iste officiis aperiam quae iure reiciendis eius fugiat itaque facilis et quibusdam! Illo natus magni numquam reprehenderit earum tenetur unde asperiores dolores beatae omnis quisquam, recusandae a aut, repellendus aperiam facilis libero praesentium voluptatem eos possimus iste cumque! Reiciendis nobis natus porro in. Dolorem dicta quam libero, fugit magni soluta deleniti earum iusto ipsum voluptatibus nostrum a reprehenderit ipsam veniam, ad tempore dolorum perferendis, doloribus vitae sint laudantium eius. Ipsa, iusto adipisci ut aperiam quis beatae minus?
    </p>
  </section>
</main>
{% endblock %}